@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap');

* {
    font-family: 'IBM Plex Sans', sans-serif;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}


/* General */
header {
    width: 100%;
    overflow: auto;
}

#front_page_header {
    height: 400px;
    background-image: url('../img/10.jpg');
    background-repeat: no-repeat;
    background-size: cover;

}

#contact_pagina_header {
    height: 400px;
    background-image: url('../img/10.jpg');
    background-repeat: no-repeat;
    background-size: cover;

}

a {
    color: white;
    text-decoration: none;
}

.header_content {
    overflow: hidden;
    width: 100%;
}

.menu_placeholder {
    margin-top: 28px;
    margin-right: 200px;
    width: 10%;
    float: right;
}

.menu_items {
    margin: 6px;
}

.moto {
    width: 40%;
    margin: auto;
    margin-top: 110px;
}

.button_contact {
    text-align: center;
    margin-top: 12px;
}

.button_1 {
    display: inline-block;
    background-color: rgb(207, 67, 48);
    width: 200px;
    border-radius: 25px;

    text-align: center;
    padding-top:10px;
    padding-bottom: 10px;
}

.terugknop_ph {
    width: 80%;

    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    border-top: 1px solid black;
}

.terugknop {
    display: inline-block;
    background-color: black;

    width: 220px;
    text-align: center;
    padding-top:10px;
    padding-bottom: 10px;
}

.grid_content {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 80%;

    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid rgb(22, 22, 22);
}

/* Front page */
.content_column {
    margin: 10%;
    text-align: center;
    
}

.services {
    text-align: center;
    width: 80%;

    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid rgb(22, 22, 22);
}


.sectionimg_ph {
    width: 65%;
    margin: 0 auto;
}


.sectionimg {
    width: 100%;

}

.main_content {
    min-height: 100%;
}

.content {
    overflow: auto;
    padding-bottom: 150px;
}

.maincontent_button {
    display: inline-block;
    background-color: rgb(22, 22, 22);
    width: 200px;

    text-align: center;
    margin-top: 10px;
    padding-top:10px;
    padding-bottom: 10px;
}


/* Over Mij sectie*/
.twee_kolommen_content {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 80%;

    margin-top: 36px;
    margin-bottom: 48px;
    margin-left: auto;
    margin-right: auto;
}

.twee_kolommen_sectie {
    word-wrap: break-word;
}

.sectie_text {
    margin-bottom: 50px;
}

.h1 {
    font-size: 36px;
    font-weight: bold;

    margin-bottom: 24px;
}

.h3 {
    font-size: 24px;
    font-weight: bold;

    margin-bottom: 24px;
}

/*services titel overwrite*/
#services {
    margin-bottom:0;
}

.sectie_img_ph {
    width: 60%;
    margin: 0 auto;
}

.sectie_img {
    width:100%;
}



.over_mij_img {
    width:100%;
    border-radius: 50%;
}

/* Contact page */
.contact_form {
    width: 80%;
}

input, textarea {
    margin: 4px;
}

input[type=email] {
    width: 100%;
}

textarea {
    resize: none;
    width: 100%;
}

/* Footer */
footer {
    position: relative;
    height: 150px;

    margin-top: -150px;
    width: 100%;
  
    background-color: rgb(22, 22, 22);

    clear: both;
}

.footer_text {
    color: white;

}

.footer_contact {
    padding-top: 15px;
    padding-left: 25px;
}

.site_info {
    width: 80;
    text-align: center;

    margin: 0 auto;
}